<!DOCTYPE html>
<html lang="en" >
<head>
    <%- include('../partials/head',title="Blog Sayfası") %>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/add-admin.css">
    <script src="/static/js/alert-timeout.js"></script>
</head>
<body>
   
        
    <%- include('../partials/nav',{who_active,main_Page}) %>
    <div class="out">
        <div class="container  border border-5 content"  >
        <div class="row mt-5" >
            <div class="col-sm-3"></div>
            <div class="col-sm-6">

                <img src="/static/images/add_admin.png" class=" image rounded mx-auto d-block" alt="">
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 write">
                <form  class="row  form-container" id="add-admin-form" method="POST">
                    <input type="hidden" name="_csrf" value="<%=csurfToken %>"><!-- name should be _csrf -->
                    <div class="row ">
                        <div class="col-md-3"></div>
                        <div class="col-md-5">

                            <label for="validationServer03" class="form-label m-lg-cen write">Usarname</label>
                            <input type="text" class="form-control bg-body-tertiary write"  id="username" name="username"                          aria-describedby="validationServer03Feedback" required>
                            <div id="validationServer03Feedback" class="invalid-feedback">
                              Please provide a valid Username.
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-5">

                            <label for="validationServer03" class="form-label m-lg-cen write">Password</label>
                            <input type="password" class="form-control bg-body-tertiary write"  id="password"  name="password"                        aria-describedby="validationServer03Feedback" required>
                            <div id="validationServer03Feedback" class="invalid-feedback">
                              Please provide a valid Password.
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>


                        <div class="row">
                            <div class="col-md-3" ></div>
                            <div class="col-md-8" >
                                <label for="validationServerUsername" class="form-label write">Email</label>
                                    <div class="input-group has-validation write" style="width: 97%;">
                                        <input type="text" class="form-control bg-body-tertiary write" id="email"  name="email" aria-describedby="inputGroupPrepend3            validationServerUsernameFeedback" required>
                                        <span class="input-group-text bg-body-tertiary" id="inputGroupPrepend3">
                                        
                                        <select class="form-select bg-body-tertiary write" id="email_option"      name="email_option"aria-describedby="validationServer04Feedback" required>
                                            <option value="-1">bir uzantı seçiniz...</option>
                                            <option value="@hotmail.com" selected>@hotmail.com</option>
                                            <option value="@gmail.com">@gmail.com</option>
                                         </select>
                                         </span>
                                        <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                         Please choose a Email.
                                        </div>
                                    </div>

                            </div>
                            <div class="col-md-2" style="width: 65%;"></div>
                        </div>
                        

                        <div class="row mt-3">
                            <div class="col-md-4"></div>
                            <div class="col-md-4"><button type="submit" class="btn btn-success " id="buton_add_admin">Add new admin</button></div>
                            <div class="col-md-4"></div>
                        </div>
                        

                    </form>
                    
                    
                    <div class="row mt-5" style="min-height: 10vh;">

                        <% if (message) { %>
                            <div class="row mt-3">
                                <div class="alert alert-<%=message.type%>" role="alert" id="edit-blog-alert">
                                  <%= message.text %>
                                </div>
                            </div>
                        <% } %>
                    
                    </div>




                           
                    
            </div>
            <div class="col-md-1"></div>

            
        </div>
    
    </div></div>     
    

    <script src="/static/js/log_in_validate.js"></script>
    
    
</body>
</html>