<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    
    <!-- navigation -->
         
    <%- include('../partials/nav',{nav_items,who_active,main_Page}) %>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                  
                    <%- include('../partials/category-menu',{categories,SelectedCategory,directory_menu:"/admin/blog/category/"}) %>
                </div>
            </div>


            <div class="col-md-9">
                <h1 class="h3 mb-3"><%=title %></h1>
                <%
                
                /* Blog Cards */
                blogs.forEach(function (blog){
                    %>     
                 <%- include('../partials/blog-card',blog) %>

                <%})%>

            <% if (blogs.filter(i => i.isvisible).filter(a => a.home).filter(b => b.verify).length > 3) { %>
                <%- include('../partials/pagination') %>
                 <% } %>
                
            </div>
        </div>
    </div>



</body>
</html>