<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <title>Document</title>
    
</head>
<body>
    
    <!-- navigation -->
    <%- include('../partials/nav',{who_active,main_Page}) %>

    <div class="container mt-3">
        <div class="row">
            <div class="col-mb-12">
                <table class="table table-bordered table-striped">
                    
                    <thead class="table-danger">
                        <tr >
                            <td style="width: 50px;">id</td>
                            <td style="width: 200px;">Picture</td>
                            <td>Title</td>
                            <td>Category</td>
                            <td style="width: 150px;"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <% blogs.forEach( (element) => { %>
                        <tr >

                            <td>#<%=element.id%></td>
                            <td class="align-content-center">
                            <img src="/static/images/<%=element.picture %>" class="img-fluid" alt=""></td>
                            
                            <td class=""><%= element.title %></td>
                            <td><% element.categories.forEach(element => { %>
                             <p><%= element.name%></p>
                            <% }) %></td>
                            
                            <td class="align-content-center ">
                            <a href="/admin/blog/edit/<%= element.url %>" class="btn btn-group-sm btn-primary">edit</a>
                            <a onclick="deletebuton('<%= element.id %>')" id="delete_button" class="btn btn-group-sm btn-danger">delete<a>
                            </td>
                           
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>


    
    <script>
    
        function deletebuton(id){
            if(id == null){
                return alert("İnvalid Call!");
            }
           
            if(confirm("Are you sure delete #"+id+" number Blog?")){
               window.location.href = "/admin/blog/delete/"+id;
            }
        }
        
        </script>


</body>
</html>