<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <title>Document</title>
    
</head>
<body>
    
    <!-- navigation -->
    <%- include('../partials/nav',{nav_items,who_active,main_Page}) %>

    <div class="container mt-3">
        <div class="row">
            <div class="col-mb-12">
                <table class="table table-bordered table-striped">
                    
                    <thead>
                        <tr class="table-danger">
                            <td style="width: 50px;text-align: center;">id</td>
                            <td >name</td>
                            <td style="width: 200px;text-align: center;">createdAt</td>
                            <td style="width: 200px;text-align: center; ">createdAt</td>
                            <td style="width: 145px;"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <% categories.forEach( (element) => { %>
                        <tr >
                            <td>#<%=element.id%></td>
                            <td><%= element.name %></td>
                            
                            <td><%= element.createdAt %></td>
                            <td><%= element.updatedAt %></td>
                            <td class="align-content-center ">
                            <a href="/admin/category/edit/<%= element.url %>" class="btn btn-group-sm btn-primary">edit</a>
                            <a onclick="deletebuton('<%= element.id %>')" id="delete_button" class="btn btn-group-sm btn-danger">delete<a>
                            </td>
                           
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>


    
    <script>
    
        function deletebuton(id){
            if(id == null){
                return alert("İnvalid Call!");
            }
           
            if(confirm("Are you sure to delete this category?")){
               window.location.href = "/admin/category/delete/"+id;
            }
        }
        
        </script>


</body>
</html>