<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head',title=title) %>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/alert-timeout.js"></script>
    
</head>
<body>
    
  <%- include('../partials/nav',{nav_items,who_active,main_Page}) %>

    <div class="container mt-3 ">
      <form method="POST"> 
        <div class="row my-5 gx-5">
              
            <div class="col-md-10">
            
                <div class="row mb-3">
                    <label for="baslik" class="col-sm-1 col-form-label">Başlık</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" id="baslik" name="baslik" value="<%= blog.title%>">
                    </div>
                </div>
                
                <div class="row mb-3">
                    <label for="aciklama" class="col-sm-1 col-form-label">Açıklama</label>
                    <div class="col-sm-11">
                      <textarea id="editor" name="aciklama" class="form-control" rows="10"><%= blog.explanation %></textarea>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="resim" class="col-sm-1 col-form-label">Resim</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" id="resim" name="resim" value="<%= blog.picture %>">
                    </div>
                </div>

               

                <div class="row mb-3">
                  <label for="altyazi" class="col-sm-1 col-form-label">Alt Başlık</label>
                  <div class="col-sm-11">
                    <textarea name="altyazi" class="form-control" rows="10"><%= blog.subtitle %></textarea>
                  </div>
              </div>
                

                
                  <div class="row mb-3">
                    <div class="col-sm-11 offset-sm-1">
                      <button type="submit" class="btn btn-primary">create blog</button></div>
                    
                    <% if (iscreated) { %>
                      <div class="alert alert-primary mt-3 " id="edit-blog-alert" role="alert">
                          Blog edited successfully
                        </div>
                    <% } %>
                    <% if (iscreated === false) { %>
                      <div class="alert alert-danger mt-3 " id="edit-blog-alert" role="alert">
                          Blog could not be edited
                        </div>
                    <% } %></div>
                  
                 
                 
           


            </div>
          
            <div class="col-md-2"> 
              
              <div class="row">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="home" name="home" <%=blog.home ?   'checked'   :'' %>>
                  <label class="form-check-label" for="home">
                      home
                  </label>
                </div>
              </div>

              <div class="row">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="isvisible" name="home" <%=blog.isvisible ?   'checked'   :'' %>>
                  <label class="form-check-label" for="isvisible">
                    isvisible
                  </label>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="verify" name="verify" <%=blog.verify ?   'checked'   :'' %>>
                  <label class="form-check-label" for="verify">
                    isvisible
                  </label>
                </div>
              </div>
              <div class="row border-top pt-3">
               
                
                <% categories.forEach(category => { %>

                    <div class="form-check">
                      <input class="form-check-input"
                      type="checkbox" 
                      id="category_<%=category.id%>" 
                      name="categories[]" 
                      value="<%= category.id %>"
                        <%= blog.categories.some( cat => cat.id==category.id )?"checked":""%>>
                      <label class="form-check-label" for="category_<%=category.id%>">
                          <%= category.name %>
                      </label>
                    
                    </div>
                <% }) %>
           
              </div>
          
            </div>
          
        </div>
      </form>
    

    </div>

    <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>
    
    <script>
      ClassicEditor
          .create( document.querySelector( '#editor' ) )
          .catch( error => {
              console.error( error );
          } );
    </script>
    
    
</body>
</html>