<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/register.css">
    <%- include('../partials/head',title="Blog Sayfası") %>
    <title>Register</title>
</head>
<body>
   
        
    <%- include('../partials/nav',{who_active,main_Page}) %>
            
    <div class="container login_square   content "  >
        <div class="row pt-5 pb-3">
  
            <div class="col-md-12 d-flex justify-content-center text"><h1>Change Password</h1></div>
         
        </div>

        <div class="row ">
            <div class="col-md-1"></div>
            <div class="col-md-7 d-flex justify-content-center">
                <div class="card mb-3 " style="max-width: 260px; background-color: rgba(37, 24, 48, 0.486) !important;">
                <div class="row ">
                    <div class="col-md-3 align-content-center  pe-2 ">
                        <img src="/static/images/reset.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                        <% if (username) { %>
                            <h5 class="card-title" style="color: aliceblue;"><%= username %></h5>
                        <% } %>
                        
                        
                    </div>
                </div>
            </div>
        </div></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 mt-3">
                <form  class="row g-xxl-4  mt-2  form-container" id="register-form" method="POST" action="/account/reset-password">
                    <input type="hidden" name="_csrf" value="<%=csurfToken %>"><!-- name should be _csrf -->
                    <input type="hidden" name="username" value="<%=username %>">
                    <div class="row ">
                        <div class="col-md-1"></div>
                        <div class="col-md-7 ">
                            
                            <label for="validationServer03" class="form-label m-lg-cen text">Password</label>
                            <input type="text" class="form-control bg-body-tertiary write"  id="username" name="username"                          aria-describedby="validationServer03Feedback" required>
                            <div id="validationServer03Feedback" class="invalid-feedback">
                              Please provide a valid Password.
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-7">

                            <label for="validationServer03" class="form-label m-lg-cen text">Confirm</label>
                            <input type="password" class="form-control bg-body-tertiary write"  id="password"  name="password"                        aria-describedby="validationServer03Feedback" required>
                            <div id="validationServer03Feedback" class="invalid-feedback">
                              Please Confirm the Password.
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>


                        
                        

                        <div class="row mt-4">
                            <div class="col-md-1"></div>
                            <div class="col-md-5"><button type="submit" class="btn btn-dark btn-outline-light " id="buton_add_admin"><h5>Change Password</h5></button></div>
                            <div class="col-md-6"></div>
                        </div>
                        

                </form>
                    
                      
                        <% if (message) { %>
                            <div class="row mt-3">
                                <div class="alert alert-<%=message.type%>" role="alert" id="edit-blog-alert">
                                    <%= message.text %>
                                </div>
                            </div>
                  
                        <% } %>
                          





                           
                    
            </div>
            <div class="col-md-2"></div>

            
        </div>
    
    </div>

    <script src="/static/js/register-validate.js"></script>
    <script src="/static/js/alert-timeout.js"></script>
    
    
</body>
</html>