<nav>
   
    <ul class="pagination justify-content-center">
        <% if (countPage>1) { %>
            <% if (currentPage!=0) { %>
                <li class="page-item">
                    <a href="?page=<%= currentPage-1 %>" class="page-link">Back</a>
                </li>
            <% } %>
            
            <% for( let i = 0; i<countPage; i++ ) { %>
                <li class="page-item">
                    <a href="?page=<%=i%>" class="page-link <%= (currentPage  == i) ? "active":""  %>"> <%= i+1 %></a>
                </li>
            <% } %>
          <% if (currentPage != countPage-1) { %>
            <li class="page-item">
               
                <a href="?page=<%= ++currentPage  %>" class="page-link">Forward</a>
            </li>
          <% } %>
            
        <% } %>
       
    </ul>
</nav>