<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head',title=title) %>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
   
    <%- include('../partials/nav',{nav_items,who_active,main_Page}) %>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                   
                    <%- include('../partials/category-menu',{categories,SelectedCategory,directory_menu:"/blog/category/"}) %>
                    
                    
                </div>
            </div>


            <div class="col-md-9">
             
                <h1 class="h3 mb-3"><%=title %></h1>
                
                <% if (blogs.length === 0  ||  (blogs.length === 1 && !blogs[0].verify)) { %>
                    <%- include('../partials/no-product') %>
                    <% } %>
                
                <%
                blogs.forEach(function (blog){
                %> 
            
            
            
                
            <%
            
             if (blog.verify && blog.isvisible) {
             %>
              
               <%- include('../partials/blog-card',{blog,main_Page}) %>

               <% } %>
                
        <%  
    }) %>
            
       
                <%- include('../partials/pagination') %>
               
                
               
              
            </div>
            
          
            
           

        </div>
    </div>

    
    
    
</body>
</html>